@keyframes bigLogo {
  0% {
    height: 100vh;
  }
  50% {
    height: 100vh;
  }
  100% {
    height: 30vh;
  }
}

.c_initialPage__Back {
  animation: bigLogo 3s;
  height: 30vh;
  display: flex;
  color: white;
  color: #a3b73a;
  align-items: center;
  justify-content: center;
  background-color: #1c1c1c;
}

.c_initialPage__Title {
  text-align: center;
}

.c_initialPage__TitleName {
  font-size: 60px;
}
