.c_Header {
  top: 0;
  z-index: 10;
  padding: 8px;
  display: flex;
  color: #a3b73a;
  position: sticky;
  align-items: center;
  background-color: #1c1c1c;
  justify-content: space-between;
}

.c-stripItems img {
  width: 100%;
}

.c-stripItems__Name {
  color: #a3b73a;
}

.c-stripItems__Slide {
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.c-stripItems__Slide--arrow {
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 50%;
  transform: translateY(50%);
  z-index: 1;
  cursor: pointer;
}

.c-stripItems__Slide--arrow:hover {
  opacity: 0.8;
}

.c-stripItems__Slide--arrow:first-child {
  left: 0;
}

.c-stripItems__Slide--arrow:last-child {
  right: 0;
}

@media (max-width: 599px) {
  .c-stripItems__Slide--arrow {
    width: 40px;
    height: 40px;
  }

  .c-stripItems__Slide--arrow:first-child {
    left: 16px;
  }

  .c-stripItems__Slide--arrow:last-child {
    right: 16px;
  }
}
